In [1]:
import pandas as pd

In [2]:
#1. Load the Amazon Prime dataset into a Pandas DataFrame.
df=pd.read_csv("C:\\Users\\PRASHANT\\Downloads\\amazon_prime_video_data.csv")

In [5]:
#2. Display the first 10 records of the dataset.
df.head(10)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.9,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
8,5009,Movie,Comedy,English,2005,65,6.8,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94

In [6]:
#3. Display the last 5 records of the dataset.
df.tail(5)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [68]:
#4. Checkdf.info the total number of rows and columns.
df.shape

(606, 17)

In [13]:
#5. Display all column names with their data types.
df.dtypes

content_id              int64
content_type           object
genre                  object
language               object
release_year            int64
duration_minutes        int64
imdb_rating           float64
age_rating             object
country                object
added_date             object
views_millions        float64
avg_watch_time_min    float64
likes_millions        float64
subscription_plan      object
is_trending            object
revenue_millions      float64
dtype: object

In [14]:
#6. Generate summary statistics for numerical columns.
df.describe()

,content_id,release_year,duration_minutes,imdb_rating,views_millions,avg_watch_time_min,likes_millions,revenue_millions
count,606.000000,606.000000,606.000000,566.000000,606.000000,570.000000,606.000000,606.000000
mean,5301.823432,2014.714521,119.330033,6.916961,61.660677,86.482456,7.474241,25.315792
std,173.127136,5.712624,34.121949,1.447780,33.650763,41.767713,4.332711,13.654265
min,5001.000000,2005.000000,60.000000,4.500000,0.150000,20.000000,0.010000,0.140000
25%,5152.250000,2010.000000,91.250000,5.600000,32.880000,48.250000,3.910000,13.952500
50%,5303.500000,2015.000000,120.000000,6.900000,61.415000,85.000000,7.430000,25.350000
75%,5451.750000,2020.000000,147.000000,8.100000,91.452500,124.750000,11.290000,37.097500
max,5600.000000,2024.000000,179.000000,9.500000,119.880000,159.000000,15.000000,49.810000

In [70]:
#7. Identify columns containing missing values.
df.isna().sum

<bound method DataFrame.sum of      content_id  content_type  genre  language  release_year  \
0         False         False  False     False         False
1         False         False  False     False         False
2         False         False  False     False         False
3         False         False  False     False         False
4         False         False  False     False         False
..          ...           ...    ...       ...           ...
601       False         False  False     False         False
602       False         False  False     False         False
603       False         False  False     False         False
604       False         False  False     False         False
605       False         False  False     False         False

     duration_minutes  imdb_rating  age_rating  country  added_date  \
0               False         True       False    False       False
1               False        False       False    False       False
2               False        False       False    False       False
3               False        False       False    False       False
4               False        False       False    False       False
..                ...          ...         ...      ...         ...
601             False        False       False    False       False
602             False        False       False    False       False
603             False        False       False    False       False
604             False        False       False    False       False
605             False        False       False    False       False

     views_millions  avg_watch_time_min  likes_millions  subscription_plan  \
0             False               False           False              False
1             False               False           False              False
2             False               False           False              False
3             False               False           False              False
4             False               False           False              False
..              ...                 ...             ...                ...
601           False               False           False              False
602           False                True           False              False
603           False               False           False              False
604           False               False           False              False
605           False               False           False              False

     is_trending  revenue_millions  popularity_score
0          False             False             False
1          False             False             False
2          False             False             False
3          False             False             False
4          False             False             False
..           ...               ...               ...
601        False             False             False
602        False             False             False
603        False             False             False
604        False             False             False
605        False             False             False

[606 rows x 17 columns]>

In [110]:
#8. Count missing values in each column.

In [ ]:
#9. Calculate the percentage of missing values in imdb_rating.

In [71]:
#10. Fill missing imdb_rating values using the mean.
df["imdb_rating"]=df["imdb_rating"].fillna(df["imdb_rating"].mean())

In [78]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,87.24
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,6.15
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,89.28
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,57.60

In [75]:
#11. Fill missing avg_watch_time_min values using the median.
df['avg_watch_time_min'] = df['avg_watch_time_min'].fillna(df['avg_watch_time_min'].median())

In [76]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,87.24
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,6.15
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,89.28
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,57.60

In [ ]:
#12. Verify that missing values are handled.

In [ ]:
#13. Check if duplicate records exist.

In [20]:
#14. Count total duplicate rows.
df.duplicated().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
601     True
602     True
603     True
604     True
605     True
Length: 606, dtype: bool>

In [21]:
#15. Display duplicate records.
df.duplicated().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
601     True
602     True
603     True
604     True
605     True
Length: 606, dtype: bool>

In [ ]:
#16. Remove duplicate rows permanently.

In [79]:
#17. Verify the dataset shape after removing duplicates
df.shape

(606, 17)

In [80]:
#18. Find the number of unique values in content_type.
df['content_type'].nunique()

2

In [27]:
#19. Find the number of unique values in genre.
df["genre"].unique()

array(['Romance', 'Action', 'Documentary', 'Comedy', 'Drama', 'Sci-Fi',
       'Thriller'], dtype=object)

In [30]:
#20. Display all unique languages.
df["language"].unique()

array(['Tamil', 'Malayalam', 'Telugu', 'Hindi', 'Kannada', 'English'],
      dtype=object)

In [34]:
#21. Count content by genre.
df["genre"].value_counts()

genre
Documentary    100
Drama          100
Sci-Fi          95
Action          90
Romance         75
Thriller        74
Comedy          72
Name: count, dtype: int64

In [37]:
#22. Count content by language.
df["language"].value_counts()

language
Tamil        111
Malayalam    108
English      105
Hindi        104
Telugu        94
Kannada       84
Name: count, dtype: int64

In [39]:
#23. Filter content with imdb_rating greater than 8.
df[df.imdb_rating>=8]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
10,5011,TV Show,Drama,Malayalam,2014,154,9.1,U/A,Australia,2022-12-21,69.92,100.0,10.39,Basic,No,40.35
11,5012,TV Show,Drama,English,2014,60,8.9,U,Australia,2022-10-17,18.52,125.0,14.99,Premium,Yes,45.34
12,5013,Movie,Sci-Fi,Malayalam,2011,70,9.2,U/A,Australia,2023-09-09,106.86,157.0,7.51,Standard,No,6.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,5591,Movie,Action,Tamil,2019,108,8.0,U/A,UK,2024-02-22,14.90,101.0,7.97,Mobile,No,13.46
592,5593,Movie,Documentary,Tamil,2009,143,8.9,U,USA,2023-10-16,37.18,144.0,4.34,Standard,Yes,20.72
594,5595,TV Show,Sci-Fi,Telugu,2017,170,8.4,A,Australia,2021-07-29,1.85,24.0,1.22,Premium,No,15.48
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48

In [41]:
#24. Filter content with views_millions greater than 50.
df[df.views_millions>=50]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08

In [44]:
#25. Filter content released after 2018.
df[df.release_year>=2018]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.9,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.3,A,India,2023-05-30,79.39,113.0,14.34,Premium,No,26.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
597,5598,Movie,Thriller,Telugu,2021,174,NaN,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [47]:
#26. Filter content belonging to Action or Thriller genre.
df[df["genre"].isin(["Action","Thriller"])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94
15,5016,TV Show,Action,Telugu,2016,90,8.4,U/A,USA,2021-06-06,60.29,NaN,13.41,Standard,No,21.69
16,5017,Movie,Action,Kannada,2015,178,9.0,U,USA,2021-07-27,93.79,100.0,10.88,Mobile,No,32.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,5598,Movie,Thriller,Telugu,2021,174,NaN,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08

In [54]:
#27. Filter content available in Hindi or English.
df[df["language"].isin(["Hindi","English"])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
8,5009,Movie,Comedy,English,2005,65,6.8,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
11,5012,TV Show,Drama,English,2014,60,8.9,U,Australia,2022-10-17,18.52,125.0,14.99,Premium,Yes,45.34
19,5020,Movie,Drama,English,2017,118,7.4,U,USA,2022-05-10,61.69,NaN,4.45,Standard,Yes,19.78
20,5021,TV Show,Action,English,2015,67,5.5,U,Canada,2022-02-23,96.68,66.0,1.43,Standard,No,30.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,5592,Movie,Sci-Fi,English,2005,140,NaN,U/A,India,2022-08-11,62.32,126.0,2.26,Mobile,No,22.00
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.4,U,Canada,2023-03-17,61.81,59.0,11.29,Standard,No,47.16
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [56]:
#28. Filter content with duration between 90 and 150 minutes.
df[df["duration_minutes"].between(90,150)]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.3,A,India,2023-05-30,79.39,113.0,14.34,Premium,No,26.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,5599,Movie,Drama,Malayalam,2008,104,5.3,A,UK,2023-11-28,47.41,81.0,5.88,Mobile,No,36.17
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [60]:
#29. Create a new column popularity_score as views_millions + likes_millions.
df["popularity_score"]=df["views_millions"]+df["likes_millions"]

In [61]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,87.24
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,6.15
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,89.28
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,57.60

In [83]:
#30. Create a new column rating_category using apply().
df['rating_category'] = df['imdb_rating'].apply(
    lambda x: 'Excellent' if x >= 8 else ('Average' if x >= 6 else 'Poor'))

In [ ]:
#31. Map subscription_plan to shor codes.

In [84]:
#32. Map is_trending values to numerical format.
df['is_trending_num'] = df['is_trending'].map({'Yes': 1, 'No': 0})

In [85]:
#33. Count content by subscription_plan.
df['subscription_plan'].value_counts()

subscription_plan
Basic       181
Mobile      145
Standard    142
Premium     138
Name: count, dtype: int64

In [ ]:
#34. Identify top 5 contents based on popularity_score.

In [ ]:
35. Group the data by content_type and count total content.

In [87]:
#36. Group the data by genre and calculate average imdb_rating.
df.groupby('genre')['imdb_rating'].mean()

genre
Action         6.991508
Comedy         6.963678
Documentary    6.686848
Drama          7.071357
Romance        6.829131
Sci-Fi         7.186156
Thriller       6.626592
Name: imdb_rating, dtype: float64

In [89]:
#37. Group the data by language and calculate average views_millions.
df.groupby("language")["views_millions"].mean()

language
English      64.233143
Hindi        63.005385
Kannada      61.063214
Malayalam    59.520741
Tamil        63.118468
Telugu       58.570532
Name: views_millions, dtype: float64

In [93]:
#38. Group the data by subscription_plan and calculate average revenue.
df.groupby("subscription_plan")["views_millions"].mean()

subscription_plan
Basic       61.428343
Mobile      59.395034
Premium     63.042899
Standard    62.927042
Name: views_millions, dtype: float64

In [ ]:
39. Group the data by country and count content.
df.groupby("country")["

In [95]:
#40. Group the data by genre and calculate total revenue.
df.groupby('genre')['revenue_millions'].sum()

genre
Action         2212.25
Comedy         1928.84
Documentary    2379.68
Drama          2503.21
Romance        1984.44
Sci-Fi         2498.81
Thriller       1834.14
Name: revenue_millions, dtype: float64

In [97]:
#41. Group the data by content_type and calculate average duration.
df.groupby('content_type')['duration_minutes'].mean()

content_type
Movie      119.140162
TV Show    119.629787
Name: duration_minutes, dtype: float64

In [99]:
df.describe(include="all")

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num
count,606.000000,606,606,606,606.000000,606.000000,606.000000,606,606,606,606.000000,606.000000,606.000000,606,606,606.000000,606.000000,606,606.000000
unique,NaN,2,7,6,NaN,NaN,NaN,3,5,478,NaN,NaN,NaN,4,2,NaN,NaN,3,NaN
top,NaN,Movie,Documentary,Tamil,NaN,NaN,NaN,U,Australia,2023-07-15,NaN,NaN,NaN,Basic,No,NaN,NaN,Average,NaN
freq,NaN,371,100,111,NaN,NaN,NaN,216,137,6,NaN,NaN,NaN,181,404,NaN,NaN,264,NaN
mean,5301.823432,NaN,NaN,NaN,2014.714521,119.330033,6.916961,NaN,NaN,NaN,61.660677,86.394389,7.474241,NaN,NaN,25.315792,69.134917,NaN,0.333333
std,173.127136,NaN,NaN,NaN,5.712624,34.121949,1.399101,NaN,NaN,NaN,33.650763,40.507498,4.332711,NaN,NaN,13.654265,33.965226,NaN,0.471794
min,5001.000000,NaN,NaN,NaN,2005.000000,60.000000,4.500000,NaN,NaN,NaN,0.150000,20.000000,0.010000,NaN,NaN,0.140000,1.800000,NaN,0.000000
25%,5152.250000,NaN,NaN,NaN,2010.000000,91.250000,5.700000,NaN,NaN,NaN,32.880000,51.000000,3.910000,NaN,NaN,13.952500,41.525000,NaN,0.000000
50%,5303.500000,NaN,NaN,NaN,2015.000000,120.000000,6.916961,NaN,NaN,NaN,61.415000,85.000000,7.430000,NaN,NaN,25.350000,69.555000,NaN,0.000000
75%,5451.750000,NaN,NaN,NaN,2020.000000,147.000000,8.100000,NaN,NaN,NaN,91.452500,122.000000,11.290000,NaN,NaN,37.097500,99.000000,NaN,1.000000
max,5600.000000,NaN,NaN,NaN,2024.000000,179.000000,9.500000,NaN,NaN,NaN,119.880000,159.000000,15.000000,NaN,NaN,49.810000,132.580000,NaN,1.000000

In [101]:
#42. Group the data by is_trending and calculate average views.
df.groupby("is_trending")["views_millions"].mean()

is_trending
No     63.20151
Yes    58.57901
Name: views_millions, dtype: float64

In [ ]:
43. Filter grouped genres having average imdb_rating greater than 7.5.

In [ ]:
44. Filter grouped languages having more than 50 contents.

In [103]:
#45. Perform multiple aggregations on genre for views, likes, and revenue.
df.groupby('genre').agg({
    'views_millions': 'sum',
    'likes_millions': 'sum',
    'revenue_millions': 'sum'
})

             views_millions  likes_millions  revenue_millions
genre
Action              5732.63          653.00           2212.25
Comedy              3919.95          534.90           1928.84
Documentary         6280.93          750.05           2379.68
Drama               6088.93          736.82           2503.21
Romance             4832.73          581.77           1984.44
Sci-Fi              6024.91          735.86           2498.81
Thriller            4486.29          536.99           1834.14

In [ ]:
46. Perform named aggregations on content_type.

In [113]:
df['added_date'] = pd.to_datetime(df['added_date'])

In [114]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num,year
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,87.24,Average,0,2022
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,6.15,Average,0,2023
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39,Excellent,0,2023
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,89.28,Poor,0,2023
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,57.60,Excellent,0,2024

In [ ]:
47. Perform named aggregations on country.

In [121]:
#48. Extract year from added_date.
df['year'] = df['added_date'].dt.year

In [122]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num,year,month,day_name,month_name
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,Basic,No,9.82,87.24,Average,0,2022,8,Sunday,August
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,Standard,No,36.70,6.15,Average,0,2023,3,Thursday,March
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,Mobile,No,3.92,22.39,Excellent,0,2023,10,Thursday,October
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,Basic,No,6.68,89.28,Poor,0,2023,9,Monday,September
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,Basic,No,30.00,57.60,Excellent,0,2024,1,Friday,January

In [116]:
#49. Extract month from added_date.
df['month'] = df['added_date'].dt.month

In [123]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num,year,month,day_name,month_name
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,Basic,No,9.82,87.24,Average,0,2022,8,Sunday,August
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,Standard,No,36.70,6.15,Average,0,2023,3,Thursday,March
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,Mobile,No,3.92,22.39,Excellent,0,2023,10,Thursday,October
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,Basic,No,6.68,89.28,Poor,0,2023,9,Monday,September
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,Basic,No,30.00,57.60,Excellent,0,2024,1,Friday,January

In [119]:
#50. Extract month name from added_date.
df['month_name'] = df['added_date'].dt.month_name()

In [124]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num,year,month,day_name,month_name
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,Basic,No,9.82,87.24,Average,0,2022,8,Sunday,August
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,Standard,No,36.70,6.15,Average,0,2023,3,Thursday,March
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,Mobile,No,3.92,22.39,Excellent,0,2023,10,Thursday,October
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,Basic,No,6.68,89.28,Poor,0,2023,9,Monday,September
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,Basic,No,30.00,57.60,Excellent,0,2024,1,Friday,January

In [117]:
#51. Extract day name from added_date.
df['day_name'] = df['added_date'].dt.day_name()

In [118]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num,year,month,day_name
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Basic,No,9.82,87.24,Average,0,2022,8,Sunday
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Standard,No,36.70,6.15,Average,0,2023,3,Thursday
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Mobile,No,3.92,22.39,Excellent,0,2023,10,Thursday
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Basic,No,6.68,89.28,Poor,0,2023,9,Monday
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Basic,No,30.00,57.60,Excellent,0,2024,1,Friday

In [ ]:
#52. Extract quarter from added_date.
df['quarter'] = df['added_date'].dt.quarter

In [ ]:
53. Group data by year and count content added.

In [ ]:
#54. Group data by month name and calculate average views.
df.groupby('month_name')['views_millions'].mean()

In [ ]:
55. Group data by quarter and calculate average revenue.

In [ ]:
56. Group data by day name and count content added.

In [ ]:
57. Identify the month with highest content additions.

In [ ]:
58. Identify the quarter with highest average imdb_rating.

In [126]:
#59. Group by year and genre and calculate average imdb_rating.
df.groupby(["year","genre"])["imdb_rating"].mean()

year  genre
2021  Action         6.907056
      Comedy         7.292544
      Documentary    6.216693
      Drama          7.030510
      Romance        6.846996
      Sci-Fi         7.585185
      Thriller       6.876000
2022  Action         6.986957
      Comedy         6.712996
      Documentary    6.927232
      Drama          7.047797
      Romance        6.828815
      Sci-Fi         6.860302
      Thriller       5.835000
2023  Action         7.087097
      Comedy         6.995833
      Documentary    7.182110
      Drama          7.000707
      Romance        6.691667
      Sci-Fi         7.129911
      Thriller       6.978815
2024  Action         6.943392
      Comedy         6.680000
      Documentary    6.180000
      Drama          7.419724
      Romance        7.245280
      Sci-Fi         7.137500
      Thriller       6.890560
Name: imdb_rating, dtype: float64

In [ ]:
60. Group by language and year and calculate content count.

In [64]:
#61. Group by country and subscription_plan and calculate average revenue.
df.groupby(["country","subscription_plan"])["revenue_millions"].mean()

country    subscription_plan
Australia  Basic                26.292500
           Mobile               23.060645
           Premium              23.974815
           Standard             24.700571
Canada     Basic                25.299189
           Mobile               25.695667
           Premium              28.850370
           Standard             31.489231
India      Basic                26.711714
           Mobile               30.790769
           Premium              25.912692
           Standard             26.222000
UK         Basic                23.186000
           Mobile               24.560645
           Premium              23.984286
           Standard             23.149000
USA        Basic                25.274400
           Mobile               25.746296
           Premium              18.653043
           Standard             22.265769
Name: revenue_millions, dtype: float64

In [ ]:
62. Filter grouped years with more than 100 contents.

In [ ]:
63. Filter grouped genres with average revenue above 20 million.