In [311]:
import pandas as pd

In [312]:
#1. Load the Amazon Prime dataset into a Pandas DataFrame.
df=pd.read_csv("C:\\Users\\PRASHANT\\Downloads\\amazon_prime_video_data.csv")

In [313]:
#2. Display the first 10 records of the dataset.
df.head(10)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.9,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
8,5009,Movie,Comedy,English,2005,65,6.8,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94

In [314]:
#3. Display the last 5 records of the dataset.
df.tail(5)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [315]:
#4. Checkdf.info the total number of rows and columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   content_id          606 non-null    int64
 1   content_type        606 non-null    object
 2   genre               606 non-null    object
 3   language            606 non-null    object
 4   release_year        606 non-null    int64
 5   duration_minutes    606 non-null    int64
 6   imdb_rating         566 non-null    float64
 7   age_rating          606 non-null    object
 8   country             606 non-null    object
 9   added_date          606 non-null    object
 10  views_millions      606 non-null    float64
 11  avg_watch_time_min  570 non-null    float64
 12  likes_millions      606 non-null    float64
 13  subscription_plan   606 non-null    object
 14  is_trending         606 non-null    object
 15  revenue_millions    606 non-null    float64
dtypes: float64(5), int64(3), object(8)
memory usage: 75.9+ KB

In [316]:
#5. Display all column names with their data types.
df.dtypes

content_id              int64
content_type           object
genre                  object
language               object
release_year            int64
duration_minutes        int64
imdb_rating           float64
age_rating             object
country                object
added_date             object
views_millions        float64
avg_watch_time_min    float64
likes_millions        float64
subscription_plan      object
is_trending            object
revenue_millions      float64
dtype: object

In [317]:
#6. Generate summary statistics for numerical columns.
df.describe()

,content_id,release_year,duration_minutes,imdb_rating,views_millions,avg_watch_time_min,likes_millions,revenue_millions
count,606.000000,606.000000,606.000000,566.000000,606.000000,570.000000,606.000000,606.000000
mean,5301.823432,2014.714521,119.330033,6.916961,61.660677,86.482456,7.474241,25.315792
std,173.127136,5.712624,34.121949,1.447780,33.650763,41.767713,4.332711,13.654265
min,5001.000000,2005.000000,60.000000,4.500000,0.150000,20.000000,0.010000,0.140000
25%,5152.250000,2010.000000,91.250000,5.600000,32.880000,48.250000,3.910000,13.952500
50%,5303.500000,2015.000000,120.000000,6.900000,61.415000,85.000000,7.430000,25.350000
75%,5451.750000,2020.000000,147.000000,8.100000,91.452500,124.750000,11.290000,37.097500
max,5600.000000,2024.000000,179.000000,9.500000,119.880000,159.000000,15.000000,49.810000

In [318]:
#7. Identify columns containing missing values.
df.isna()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
602,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
603,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
604,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
605,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [319]:
#8. Count missing values in each column.
df.isna().sum()

content_id             0
content_type           0
genre                  0
language               0
release_year           0
duration_minutes       0
imdb_rating           40
age_rating             0
country                0
added_date             0
views_millions         0
avg_watch_time_min    36
likes_millions         0
subscription_plan      0
is_trending            0
revenue_millions       0
dtype: int64

In [320]:
#9. Calculate the percentage of missing values in imdb_rating.
df['imdb_rating'].isna().mean() * 100

np.float64(6.6006600660066)

In [321]:
#10. Fill missing imdb_rating values using the mean.
df["imdb_rating"]=df["imdb_rating"].fillna(df["imdb_rating"].mean())

In [322]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00

In [323]:
#11. Fill missing avg_watch_time_min values using the median.
df['avg_watch_time_min'] = df['avg_watch_time_min'].fillna(df['avg_watch_time_min'].median())

In [324]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00

In [391]:
#12. Verify that missing values are handled.
df.isna().sum()

content_id              0
content_type            0
genre                   0
language                0
release_year            0
duration_minutes        0
imdb_rating             0
age_rating              0
country                 0
added_date              0
views_millions          0
avg_watch_time_min      0
likes_millions          0
subscription_plan     145
is_trending             0
revenue_millions        0
popularity_score        0
rating_category         0
is_trending_num         0
year                    0
month                   0
month_name              0
day_name                0
dtype: int64

In [390]:
#13. Check if duplicate records exist.
df.duplicated().sum()

np.int64(0)

In [327]:
#14. Count total duplicate rows.
df.duplicated().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
601     True
602     True
603     True
604     True
605     True
Length: 606, dtype: bool>

In [328]:
#15. Display duplicate records.
df.duplicated().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
601     True
602     True
603     True
604     True
605     True
Length: 606, dtype: bool>

In [329]:
#16. Remove duplicate rows permanently.
df = df[df.duplicated() == False]

In [330]:
#17. Verify the dataset shape after removing duplicates
df.shape

(600, 16)

In [331]:
#18. Find the number of unique values in content_type.
df['content_type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [332]:
#19. Find the number of unique values in genre.
df["genre"].unique()

array(['Romance', 'Action', 'Documentary', 'Comedy', 'Drama', 'Sci-Fi',
       'Thriller'], dtype=object)

In [333]:
#20. Display all unique languages.
df["language"].unique()

array(['Tamil', 'Malayalam', 'Telugu', 'Hindi', 'Kannada', 'English'],
      dtype=object)

In [334]:
#21. Count content by genre.
df["genre"].value_counts()

genre
Documentary    100
Drama          100
Sci-Fi          95
Action          87
Romance         73
Thriller        73
Comedy          72
Name: count, dtype: int64

In [335]:
#22. Count content by language.
df["language"].value_counts()

language
Tamil        111
Malayalam    106
Hindi        104
English      103
Telugu        92
Kannada       84
Name: count, dtype: int64

In [336]:
#23. Filter content with imdb_rating greater than 8.
df[df.imdb_rating>=8]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
10,5011,TV Show,Drama,Malayalam,2014,154,9.1,U/A,Australia,2022-12-21,69.92,100.0,10.39,Basic,No,40.35
11,5012,TV Show,Drama,English,2014,60,8.9,U,Australia,2022-10-17,18.52,125.0,14.99,Premium,Yes,45.34
12,5013,Movie,Sci-Fi,Malayalam,2011,70,9.2,U/A,Australia,2023-09-09,106.86,157.0,7.51,Standard,No,6.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,5590,TV Show,Drama,Malayalam,2012,166,8.3,U/A,USA,2023-07-21,85.92,117.0,1.64,Standard,No,8.20
590,5591,Movie,Action,Tamil,2019,108,8.0,U/A,UK,2024-02-22,14.90,101.0,7.97,Mobile,No,13.46
592,5593,Movie,Documentary,Tamil,2009,143,8.9,U,USA,2023-10-16,37.18,144.0,4.34,Standard,Yes,20.72
594,5595,TV Show,Sci-Fi,Telugu,2017,170,8.4,A,Australia,2021-07-29,1.85,24.0,1.22,Premium,No,15.48
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98

In [337]:
#24. Filter content with views_millions greater than 50.
df[df.views_millions>=50]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.200000,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.900000,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,5592,Movie,Sci-Fi,English,2005,140,6.916961,U/A,India,2022-08-11,62.32,126.0,2.26,Mobile,No,22.00
593,5594,Movie,Romance,Malayalam,2009,130,5.000000,U,India,2023-08-08,50.32,135.0,9.25,Basic,Yes,42.95
595,5596,TV Show,Action,Tamil,2024,81,8.100000,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.400000,U,Canada,2023-03-17,61.81,59.0,11.29,Standard,No,47.16
599,5600,Movie,Comedy,English,2024,100,4.500000,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49

In [338]:
#25. Filter content released after 2018.
df[df.release_year>=2018]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
6,5007,Movie,Action,Kannada,2019,121,6.900000,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.900000,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.300000,A,India,2023-05-30,79.39,113.0,14.34,Premium,No,26.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582,5583,TV Show,Drama,Kannada,2020,67,4.700000,U,Australia,2023-04-14,92.71,159.0,11.22,Basic,No,12.94
590,5591,Movie,Action,Tamil,2019,108,8.000000,U/A,UK,2024-02-22,14.90,101.0,7.97,Mobile,No,13.46
595,5596,TV Show,Action,Tamil,2024,81,8.100000,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
597,5598,Movie,Thriller,Telugu,2021,174,6.916961,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
599,5600,Movie,Comedy,English,2024,100,4.500000,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49

In [339]:
#26. Filter content belonging to Action or Thriller genre.
df[df["genre"].isin(["Action","Thriller"])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
6,5007,Movie,Action,Kannada,2019,121,6.900000,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
9,5010,Movie,Thriller,Kannada,2017,107,7.000000,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94
15,5016,TV Show,Action,Telugu,2016,90,8.400000,U/A,USA,2021-06-06,60.29,85.0,13.41,Standard,No,21.69
16,5017,Movie,Action,Kannada,2015,178,9.000000,U,USA,2021-07-27,93.79,100.0,10.88,Mobile,No,32.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,5585,Movie,Thriller,Hindi,2015,131,6.800000,U,Australia,2022-03-21,56.87,61.0,4.50,Standard,No,43.26
585,5586,TV Show,Action,Hindi,2009,78,6.916961,A,USA,2024-04-01,66.58,25.0,9.23,Premium,No,3.80
590,5591,Movie,Action,Tamil,2019,108,8.000000,U/A,UK,2024-02-22,14.90,101.0,7.97,Mobile,No,13.46
595,5596,TV Show,Action,Tamil,2024,81,8.100000,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
597,5598,Movie,Thriller,Telugu,2021,174,6.916961,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62

In [340]:
#27. Filter content available in Hindi or English.
df[df["language"].isin(["Hindi","English"])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
5,5006,Movie,Drama,Hindi,2010,104,6.200000,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
8,5009,Movie,Comedy,English,2005,65,6.800000,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
11,5012,TV Show,Drama,English,2014,60,8.900000,U,Australia,2022-10-17,18.52,125.0,14.99,Premium,Yes,45.34
19,5020,Movie,Drama,English,2017,118,7.400000,U,USA,2022-05-10,61.69,85.0,4.45,Standard,Yes,19.78
20,5021,TV Show,Action,English,2015,67,5.500000,U,Canada,2022-02-23,96.68,66.0,1.43,Standard,No,30.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,5587,Movie,Documentary,Hindi,2011,125,4.800000,U,UK,2021-12-28,102.04,53.0,7.80,Premium,No,20.87
588,5589,TV Show,Documentary,English,2013,98,9.300000,U/A,UK,2021-05-13,37.06,21.0,5.63,Premium,No,17.69
591,5592,Movie,Sci-Fi,English,2005,140,6.916961,U/A,India,2022-08-11,62.32,126.0,2.26,Mobile,No,22.00
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.400000,U,Canada,2023-03-17,61.81,59.0,11.29,Standard,No,47.16
599,5600,Movie,Comedy,English,2024,100,4.500000,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49

In [341]:
#28. Filter content with duration between 90 and 150 minutes.
df[df["duration_minutes"].between(90,150)]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
5,5006,Movie,Drama,Hindi,2010,104,6.200000,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.900000,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
9,5010,Movie,Thriller,Kannada,2017,107,7.000000,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.300000,A,India,2023-05-30,79.39,113.0,14.34,Premium,No,26.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,5592,Movie,Sci-Fi,English,2005,140,6.916961,U/A,India,2022-08-11,62.32,126.0,2.26,Mobile,No,22.00
592,5593,Movie,Documentary,Tamil,2009,143,8.900000,U,USA,2023-10-16,37.18,144.0,4.34,Standard,Yes,20.72
593,5594,Movie,Romance,Malayalam,2009,130,5.000000,U,India,2023-08-08,50.32,135.0,9.25,Basic,Yes,42.95
598,5599,Movie,Drama,Malayalam,2008,104,5.300000,A,UK,2023-11-28,47.41,81.0,5.88,Mobile,No,36.17
599,5600,Movie,Comedy,English,2024,100,4.500000,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49

In [342]:
#29. Create a new column popularity_score as views_millions + likes_millions.
df["popularity_score"]=df["views_millions"]+df["likes_millions"]

In [343]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,87.24
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,6.15
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,89.28
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,57.60

In [344]:
#30. Create a new column rating_category using apply().
def rating_category(x):
    if x >= 8:
        return "Excellent"
    elif x >= 6:
        return "Average"
    else:
        return "Poor"
df['rating_category'] = df['imdb_rating'].apply(rating_category)

In [345]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,87.24,Average
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,6.15,Average
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39,Excellent
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,89.28,Poor
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,57.60,Excellent

In [346]:
#31. Map subscription_plan to shor codes.
plan_code = {
    "Basic": "B",
    "Standard": "S",
    "Premium": "P"
}
df["subscription_plan"] = df["subscription_plan"].map(plan_code)

In [347]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,B,No,9.82,87.24,Average
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,S,No,36.70,6.15,Average
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,NaN,No,3.92,22.39,Excellent
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,B,No,6.68,89.28,Poor
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,B,No,30.00,57.60,Excellent

In [348]:
#32. Map is_trending values to numerical format.
df['is_trending_num'] = df['is_trending'].map({'Yes': 1, 'No': 0})

In [349]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,B,No,9.82,87.24,Average,0
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,S,No,36.70,6.15,Average,0
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,NaN,No,3.92,22.39,Excellent,0
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,B,No,6.68,89.28,Poor,0
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,B,No,30.00,57.60,Excellent,0

In [350]:
#33. Count content by subscription_plan.
df['subscription_plan'].value_counts()

subscription_plan
B    178
S    140
P    137
Name: count, dtype: int64

In [351]:
#34. Identify top 5 contents based on popularity_score.
df["popularity_score"].head(5)

0    87.24
1     6.15
2    22.39
3    89.28
4    57.60
Name: popularity_score, dtype: float64

In [352]:
#35. Group the data by content_type and count total content.
df.groupby("content_type").count()

,content_id,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num
content_type,,,,,,,,,,,,,,,,,,
Movie,367,367,367,367,367,367,367,367,367,367,367,367,276,367,367,367,367,367
TV Show,233,233,233,233,233,233,233,233,233,233,233,233,179,233,233,233,233,233

In [353]:
#36. Group the data by genre and calculate average imdb_rating.
df.groupby('genre')['imdb_rating'].mean()

genre
Action         7.009606
Comedy         6.963678
Documentary    6.686848
Drama          7.071357
Romance        6.806641
Sci-Fi         7.186156
Thriller       6.640655
Name: imdb_rating, dtype: float64

In [354]:
#37. Group the data by language and calculate average views_millions.
df.groupby("language")["views_millions"].mean()

language
English      64.021650
Hindi        63.005385
Kannada      61.063214
Malayalam    59.209717
Tamil        63.118468
Telugu       58.147609
Name: views_millions, dtype: float64

In [355]:
#38. Group the data by subscription_plan and calculate average revenue.
df.groupby("subscription_plan")["views_millions"].mean()

subscription_plan
B    61.484213
P    62.700073
S    62.583429
Name: views_millions, dtype: float64

In [356]:
#39. Group the data by country and count content.
df.groupby("country")["content_type"].count()

country
Australia    134
Canada       120
India        121
UK           124
USA          101
Name: content_type, dtype: int64

In [357]:
#40. Group the data by genre and calculate total revenue.
df.groupby('genre')['revenue_millions'].sum()

genre
Action         2127.80
Comedy         1928.84
Documentary    2379.68
Drama          2503.21
Romance        1933.78
Sci-Fi         2498.81
Thriller       1813.79
Name: revenue_millions, dtype: float64

In [358]:
#41. Group the data by content_type and calculate average duration.
df.groupby('content_type')['duration_minutes'].mean()

content_type
Movie      118.948229
TV Show    119.798283
Name: duration_minutes, dtype: float64

In [359]:
#42. Group the data by is_trending and calculate average views.
df.groupby("is_trending")["views_millions"].mean()

is_trending
No     63.072095
Yes    58.372613
Name: views_millions, dtype: float64

In [360]:
#43. Filter grouped genres having average imdb_rating greater than 7.5.
genre_avg_imdb_rating = df.groupby("genre")["imdb_rating"].mean()
genre_avg_imdb_rating[genre_avg_imdb_rating > 7.5]

Series([], Name: imdb_rating, dtype: float64)

In [361]:
#44. Filter grouped languages having more than 50 contents.
language_count = df.groupby("language")["content_id"].count()
language_count.head()

language
English      103
Hindi        104
Kannada       84
Malayalam    106
Tamil        111
Name: content_id, dtype: int64

In [362]:
#45. Perform multiple aggregations on genre for views, likes, and revenue.
df.groupby('genre').agg({
    'views_millions': 'sum',
    'likes_millions': 'sum',
    'revenue_millions': 'sum'
})

             views_millions  likes_millions  revenue_millions
genre
Action              5470.61          636.57           2127.80
Comedy              3919.95          534.90           1928.84
Documentary         6280.93          750.05           2379.68
Drama               6088.93          736.82           2503.21
Romance             4749.64          563.59           1933.78
Sci-Fi              6024.91          735.86           2498.81
Thriller            4373.09          523.03           1813.79

In [363]:
#46. Perform named aggregations on content_type.
print(df.groupby('content_type').agg(
    avg_views=('views_millions', 'mean'),
    total_revenue=('revenue_millions', 'sum'),
))

              avg_views  total_revenue
content_type
Movie         61.483896        9199.32
TV Show       61.559957        5986.59

In [364]:
#47. Perform named aggregations on country.
df.groupby('country').agg(
    avg_rating=('imdb_rating', 'mean'),
    total_revenue=('revenue_millions', 'sum'),
)

           avg_rating  total_revenue
country
Australia    7.031989        3273.54
Canada       6.790029        3304.62
India        6.863651        3306.62
UK           7.037917        2966.19
USA          6.842424        2334.94

In [366]:
df['added_date'] = pd.to_datetime(df["added_date"])

In [367]:
#48. Extract year from added_date.
df['year'] = df['added_date'].dt.year

In [301]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,87.23,50.0,0.01,B,No,9.82,87.24,Average,0
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,0.63,127.0,5.52,S,No,36.70,6.15,Average,0
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,13.78,74.0,8.61,NaN,No,3.92,22.39,Excellent,0
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,86.49,132.0,2.79,B,No,6.68,89.28,Poor,0
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,53.47,103.0,4.13,B,No,30.00,57.60,Excellent,0

In [368]:
#49. Extract month from added_date.
df['month'] = df['added_date'].dt.month

In [ ]:
df.head()

In [369]:
#50. Extract month name from added_date.
df['month_name'] = df['added_date'].dt.month_name()

In [370]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num,year,month,month_name
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,B,No,9.82,87.24,Average,0,2022,8,August
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,S,No,36.70,6.15,Average,0,2023,3,March
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,NaN,No,3.92,22.39,Excellent,0,2023,10,October
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,B,No,6.68,89.28,Poor,0,2023,9,September
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,B,No,30.00,57.60,Excellent,0,2024,1,January

In [371]:
#51. Extract day name from added_date.
df['day_name'] = df['added_date'].dt.day_name()

In [372]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num,year,month,month_name,day_name
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,B,No,9.82,87.24,Average,0,2022,8,August,Sunday
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,S,No,36.70,6.15,Average,0,2023,3,March,Thursday
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,NaN,No,3.92,22.39,Excellent,0,2023,10,October,Thursday
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,B,No,6.68,89.28,Poor,0,2023,9,September,Monday
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,B,No,30.00,57.60,Excellent,0,2024,1,January,Friday

In [ ]:
#52. Extract quarter from added_date.
df['added_day_name'] = df['added_date'].dt.day_name()

In [373]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,is_trending_num,year,month,month_name,day_name
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,B,No,9.82,87.24,Average,0,2022,8,August,Sunday
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,S,No,36.70,6.15,Average,0,2023,3,March,Thursday
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,NaN,No,3.92,22.39,Excellent,0,2023,10,October,Thursday
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,B,No,6.68,89.28,Poor,0,2023,9,September,Monday
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,B,No,30.00,57.60,Excellent,0,2024,1,January,Friday

In [374]:
#53. Group data by year and count content added.
df.groupby("year")["content_type"].count()

year
2021    191
2022    168
2023    183
2024     58
Name: content_type, dtype: int64

In [375]:
#54. Group data by month name and calculate average views.
df.groupby('month_name')['views_millions'].mean()

month_name
April        53.650517
August       59.686579
December     61.954167
February     65.564400
January      57.761587
July         61.625333
June         59.436744
March        60.893235
May          67.527609
November     63.271750
October      62.048723
September    68.968462
Name: views_millions, dtype: float64

In [393]:
#55. Group data by quarter and calculate average revenue.
df.groupby("quarter")["revenue_millions"].mean()

In [380]:
#56. Group data by day name and count content added.
df.groupby("day_name")["content_type"].count()

day_name
Friday       95
Monday       76
Saturday     89
Sunday       87
Thursday     94
Tuesday      83
Wednesday    76
Name: content_type, dtype: int64

In [381]:
#57. Identify the month with highest content additions.
df.groupby("month")["content_type"].max()

month
1     TV Show
2     TV Show
3     TV Show
4     TV Show
5     TV Show
6     TV Show
7     TV Show
8     TV Show
9     TV Show
10    TV Show
11    TV Show
12    TV Show
Name: content_type, dtype: object

In [383]:
#58. Identify the quarter with highest average imdb_rating.
df.groupby("quarter")["imdb_rating"].mean().max()

In [384]:
#59. Group by year and genre and calculate average imdb_rating.
df.groupby(["year","genre"])["imdb_rating"].mean()

year  genre
2021  Action         6.973958
      Comedy         7.292544
      Documentary    6.216693
      Drama          7.030510
      Romance        6.846996
      Sci-Fi         7.585185
      Thriller       6.929167
2022  Action         6.986957
      Comedy         6.712996
      Documentary    6.927232
      Drama          7.047797
      Romance        6.868282
      Sci-Fi         6.860302
      Thriller       5.835000
2023  Action         7.075862
      Comedy         6.995833
      Documentary    7.182110
      Drama          7.000707
      Romance        6.578261
      Sci-Fi         7.129911
      Thriller       6.978815
2024  Action         6.943392
      Comedy         6.680000
      Documentary    6.180000
      Drama          7.419724
      Romance        7.245280
      Sci-Fi         7.137500
      Thriller       6.890560
Name: imdb_rating, dtype: float64

In [385]:
#60. Group by language and year and calculate content count.
df.groupby(["year","language"])["content_type"].count()

year  language
2021  English      29
      Hindi        36
      Kannada      29
      Malayalam    29
      Tamil        36
      Telugu       32
2022  English      37
      Hindi        29
      Kannada      25
      Malayalam    24
      Tamil        28
      Telugu       25
2023  English      29
      Hindi        28
      Kannada      24
      Malayalam    36
      Tamil        40
      Telugu       26
2024  English       8
      Hindi        11
      Kannada       6
      Malayalam    17
      Tamil         7
      Telugu        9
Name: content_type, dtype: int64

In [386]:
#61. Group by country and subscription_plan and calculate average revenue.
df.groupby(["country","subscription_plan"])["revenue_millions"].mean()

country    subscription_plan
Australia  B                    26.045238
           P                    23.974815
           S                    24.042353
Canada     B                    25.299189
           P                    28.850370
           S                    31.489231
India      B                    26.711714
           P                    25.912692
           S                    26.394706
UK         B                    23.178462
           P                    24.643235
           S                    23.149000
USA        B                    25.274400
           P                    18.653043
           S                    22.265769
Name: revenue_millions, dtype: float64

In [388]:
#62. Filter grouped years with more than 100 contents.
year_content_count=df.groupby("year")["content_id"].count()
year_content_count.head()
year_content_count[year_content_count>100]

year
2021    191
2022    168
2023    183
Name: content_id, dtype: int64

In [389]:
#63. Filter grouped genres with average revenue above 20 million.
genre_avg_revenue=df.groupby("genre")["revenue_millions"].mean()
genre_avg_revenue[genre_avg_revenue>20]

genre
Action         24.457471
Comedy         26.789444
Documentary    23.796800
Drama          25.032100
Romance        26.490137
Sci-Fi         26.303263
Thriller       24.846438
Name: revenue_millions, dtype: float64